@font-face {
	font-family: 'Rubik';
		src: url(../fonts/Rubik-Light.woff2);
		src: url(../fonts/Rubik-Light.woff);
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
		src: url(../fonts/Rubik-Regular.woff2);
		src: url(../fonts/Rubik-Regular.woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
		src: url(../fonts/Rubik-Italic.woff2);
		src: url(../fonts/Rubik-Italic.woff);
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Rubik';
		src: url(../fonts/Rubik-Medium.woff2);
		src: url(../fonts/Rubik-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}