html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
	margin: 0;
}

ul,
ol,
input {
	padding: 0;
}

ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

button {
	display: inline-block;
	appearance: none;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}