%pseudo-mask {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

$focus-bg: rgba(255, 122, 80, 0.1);

$outline: 0 0 0 2px rgba(255, 104, 56, 0.7);

$orange-900: #ff6838;

$gray: #c2c2c2;

$silver-200: #ececec;

$dark-blue: #363853;