
$outline: 0 0 0 2px rgba(255, 104, 56, 0.7);

$black: #000000;

$white: #ffffff;

$focus-bg: rgba(255, 122, 80, 0.1);

$active-bg: #fff2ed;

$orange-900: #ff6838;

$orange-500: #ff7a50;

$silver-200: #ececec;

$gray: #c2c2c2;

$dark-blue: #363853;

$dark: #31352b;

$silver-100: #f9faff;

$dark-50: #505050;

$dt: 1200;

$tl2: 992;

$tl: 768;

$pn: 560;
