.catalog {
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		@include r($tl) {
			flex-wrap: wrap;
			row-gap: 20px;
			margin-bottom: 22px;
			justify-content: flex-start;
		}
	}

	&__title {
		margin-bottom: 0;
		@include r ($pn) {
			width: 100%;
		}
	}

	&__btn {
		display: none;
		margin-left: auto;
		margin-right: 10px;
		width: 47px;
		height: 47px;
		background-color: #faeded;
		border-radius: 3px;
		background-image: url('../images/sprite.svg#icon-filter');
		background-size: 34px;
		background-position: center;
		background-repeat: no-repeat;
		outline: 0;
		transition: box-shadow 0.3s ease-in-out;
		@include r($tl) {
			display: block;
		}

		@include r($pn) {
			margin-left: 0;
		}

		&:focus {
			box-shadow: $outline;
		}
	}

	&__settings {
		display: flex;
	}

	&__setting {
		position: relative;
		&:not(:last-child) {
			margin-right: 10px;
		}

		&::after {
			position: absolute;
			right: 18px;
			top: 18px;
			content: "";
			width: 6px;
			height: 11px;
			transform: rotate(90deg);
			mask-image: url('../images/sprite.svg#icon-chevron');
			background-color: $gray;
			@include pseudo-mask;
			mask-size: cover;
			transition: background-color 0.3s linear;
			pointer-events: none;
		}

		&:hover::after {
			background-color: $orange-900;
		}
	}

	&__select {
		padding: 14px 41px 14px 15px;
		appearance: none;
		outline: 0;
		font-size: 14px;
		line-height: 1.2;

		background-color: $white;
		border: 1px solid $gray;
		border-radius: 3px;
		transition: border-color 0.3s linear, color 0.3s ease-in-out;
		cursor: pointer;
		@include r($pn) {
			padding: 14px 36px 14px 11px;
		}
		&:hover {
			border-color: $orange-900;
			color: $orange-900;
		}

		&:focus {
			border-color: $orange-900;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		@include r($dt) {
			justify-content: space-around;
		}
	}

	&__aside {
		max-width: 270px;
		width: 100%;
		transition: transform 0.3s linear;
		@include r($tl) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 55px;
			transform: translateX(calc(-100% - 60px));
			max-width: 100%;
			width: auto;
			padding: 80px 50px 0 0;
			z-index: 4;
			background-color: $white;
			overflow-y: scroll;
			box-shadow: 0 0 0 60px rgba($black, 0.15);
		}

		&--active {
			transform: translateX(0);
			z-index: 12;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		margin-bottom: 64px;
		@include r($dt) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include r($tl2) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include r($tl) {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 10px;
			column-gap: 5px;
			margin-bottom: 30px;
		}

		@include r($pn) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
		&:nth-child(n+7) {
			@include r($pn) {
				display: none;
			}
		}
	}
}