.download {
	padding-bottom: 128px;
	@include r($tl) {
		padding-bottom: 0;
	}
	&__wrapper {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
		padding: 42px 0;
		@include r($dt) {
			background-size: 0;
			padding-top: 0;
			padding-bottom: 40px;
		}
	}

	&__content {
		max-width: 540px;
		width: 100%;
	}

	&__title {
		@include r($pn) {
			margin-bottom: 15px;
		}
	}

	&__text {
		margin-bottom: 30px;
		opacity: 0.9;
		@include r($pn) {
			margin-bottom: 15px;
			font-size: 14px;
		}
	}

	&__list {
		display: flex;
	}

	&__item {
		line-height: 0;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__link {
		border-radius: 7px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		outline: 0;
		transition: box-shadow 0.25s ease-in-out;
		&--astore {
			background-image: url(../images/download-in-as.jpg);
			width: 120px;
		}

		&--gplay {
			background-image: url(../images/download-in-gp.jpg);
			width: 135px;
		}

		&:focus {
			box-shadow: $outline;
		}
	}
}