.features {
	&__wrapper {
		padding: 57px 70px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 67px;
		@include r($dt) {
			padding: 25px 0;
		}

		@include r($tl2) {
			box-shadow: inset 0 0 0 260px rgba(249, 250, 255, 0.85);
		}

		@include r($tl) {
			background-position: left;
		}
	}

	&__content {
		max-width: 470px;
		margin-left: auto;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__text {
		opacity: 0.9;
		margin-bottom: 30px;
		@include r($pn) {
			font-size: 16px;
		}
	}

	&__list {
		margin-bottom: 30px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__item {
		position: relative;
		padding-left: 64px;
		font-size: 24px;
		@include r($tl) {
			font-size: 18px;
			padding-left: 44px;
		}

		&::before {
			position: absolute;
			content: "";
			top: -2px;
			left: 0;
			width: 34px;
			height: 34px;
			@include pseudo-mask;
		}

		&--delivery::before {
			mask-image: url('../images/sprite.svg#icon-timer');
			background-color: $orange-900;
		}

		&--couriers::before {
			mask-image: url('../images/sprite.svg#icon-delivery');
			background-color: #00AAFF;
		}

		&--restaurans::before {
			mask-image: url('../images/sprite.svg#icon-restorant');
			background-color: #FF2222;
		}
	}

	&__link {
		padding: 12px 32px;
		font-size: 18px;
		@include r($pn) {
			font-size: 14px;
		}
	}
}