.hero {
	&__content {
		padding: 156px 0;
		background-position: right center;
		background-repeat: no-repeat;
		background-size: contain;
		@include r($tl2) {
			padding: 22px 0;
		}

		@include r($tl) {
			box-shadow: inset 0 0 0 230px rgba(249, 250, 255, 0.85);
		}
	}

	&__caption {
		display: inline-block;
		max-width: 450px;
		font-size: 66px;
		line-height: 1.3;
		font-weight: 500;
		color: $dark-blue;
		text-transform: uppercase;
		margin-bottom: 20px;
		@include r($tl2) {
			font-size: 40px;
			max-width: 280px;
			margin-bottom: 25px;
		}
	}

	&__span {
		color: $orange-900;
	}

	&__text {
		margin-bottom: 20px;
		max-width: 450px;
		@include r($tl2) {
			max-width: 400px;
		}

		@include r($tl) {
			font-size: 16px;
			max-width: 350px;
		}
	}

	&__btn {
		padding: 12px 32px;
		font-size: 18px;
		line-height: 1.3;
		margin-right: 34px;
		outline: 0;
		@include r($tl) {
			padding: 8px 24px;
			font-size: 14px;
			margin-right: 28px;
		}

		&:focus{
			box-shadow: $outline;
			background-color: $focus-bg;
			color: $orange-900;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			color: $orange-900;
			box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), $outline;
		}

		&:active {
			background-color: $focus-bg;
			box-shadow: none;
		}
	}
}