.sales {
	&__list {
		display: flex;
		column-gap: 30px;
		@include r($tl2) {
			padding-bottom: 60px;
		}
		
		@include r($pn) {
			padding-bottom: 50px;
		}
	}

	&__title {
		@include r($tl) {
			text-align: center;
		}
	}

	&__item {
		@include r($tl2) {
			padding: 5px 0 14px 0;
		}
	}

	&__box {
		padding: 0 20px 15px;
	}

	&__card-title {
		margin-bottom: 0;
	}

	& .slick-dots {
		bottom: 0px;
	}
}