.contacts {
	font-style: normal;
	&__list {
		margin-bottom: 15px;
	}

	&__item {
		line-height: 0;
	}

	&__item:not(:last-child) {
		margin-bottom: 15px;
	}

	&__link {
		position: relative;
		padding-left: 31px;
		border-radius: 5px;
		font-size: 16px;
		line-height: 2;
		outline: 0;
		transition: box-shadow 0.25s ease-in-out;
		&::before {
			position: absolute;
			left: 0;
			top: 3px;
			content: "";
			width: 24px;
			height: 24px;
			@extend %pseudo-mask;
			background-color: $black;
		}

		&--street::before {
			-webkit-mask-image: url(../images/sprite.svg#icon-location);
		}

		&--tel::before {
			-webkit-mask-image: url(../images/sprite.svg#icon-call);
		}

		&--email::before {
			-webkit-mask-image: url(../images/sprite.svg#icon-message);
		}

		&:focus {
			box-shadow: $outline;
		}
	}
}