.social {
	display: flex;
	&__item {
		&:not(:last-child) {
			margin-right: 13px;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 39px;
		height: 38px;
		border-radius: 50%;
		background-color: $silver-200;
		transition: box-shadow 0.25s ease-in-out, background-color 0.25s linear;
		outline: 0;
		&:focus {
			box-shadow: $outline;
			background-color: $focus-bg;
		}

		&:hover {
			box-shadow: none;
			background-color: $orange-500;
		}

		&:hover .social__icon {
			background-color: $white;
		}

		&:active {
			background-color: $focus-bg;
		}

		&:active .social__icon {
			background-color: $orange-500;
		}
	}

	&__icon {
		background-color: $dark;
		width: 19px;
		height: 19px;
		display: block;
		transition: background-color 0.25s linear;
	}
}