.user-nav {
	display: flex;
	margin-right: 2px;
	&__item:not(:last-child) {
		margin-right: 10px;
	}

	&__btn {
		position: relative;
		width: 44px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		outline: 0;
		transition: box-shadow 0.25s linear, background-color 0.25s ease-in-out;
		&::before {
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			background-color: $dark-blue;
			transition: background-color 0.25s ease-in-out;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			-webkit-mask-size: contain;
		}

		&--search::before {
			-webkit-mask-image: url(../images/sprite.svg#icon-search);
		}

		&--cart::before {
			-webkit-mask-image: url(../images/sprite.svg#icon-cart);
		}

		&:focus {
			box-shadow: $outline;
			background-color: $focus-bg;
		}

		&:hover {
			background-color: $orange-500;
		}

		&:hover::before {
			background-color: $white;
		}

		&:hover .user-nav__counter {
			color: $orange-500;
			background-color: $white;
		}

		&:active {
			background-color: $focus-bg;
			box-shadow: none;
		}

		&:active::before {
			background-color: $black;
		}

		&:active .user-nav__counter {
			background-color: $orange-900;
			color: $white;
		}
	}

	&__counter {
		position: absolute;
		top: 7px;
		right: 5px;
		justify-content: center;
		width: 14px;
		height: 14px;
		background-color: $orange-900;
		font-size: 10px;
		line-height: 1.2;
		color: $white;
		border-radius: 50%;
		transition: color 0.25s linear, background-color 0.25s ease-in-out;
	}
}